{% extends 'base.html.twig' %}

{% block body %}

    <main>
        <section class="first-section">
            <div class="first-section-text">
                <h1>Do It Yourself</h1>
                <hr>
                <p>DIY can be applied to different things. You can read on our blog and add your articles. If you don't
                    have time or motivation for creations, don't worry. We offer our DIY products for everyone.</p>
            </div>
        </section>
        <section class="third-section">
            <h2>HOW WE WORK</h2>
            <hr>
            <ul>
                <li>
                    <img src="" alt="calendar">
                    <h4>DESIGN</h4>
                    <p>Your personal design consultant meets with you to discuss style, prederences and space.</p>
                </li>
                <li>
                    <img src="" alt="">
                    <h4>LOVE</h4>
                    <p>Keep love in your heart. A life without it is like a sunless garden when the flowers are dead.</p>
                </li>
                <li>
                    <img src="../{{ asset('templates/images/Face-smile.png') }}" alt="smile">
                    <h4>SMILE</h4>
                    <p>Share your smile with the world. It's a symbol of friendship and peace.</p>
                </li>
            </ul>
        </section>
    </main>


{% endblock %}
