hr {
    width: 50px;
    margin: 20px auto;
    height: 3px;
    border: none;
    background: #d26563;
}

nav ul li {
    display: inline-block;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #D67472;
    margin-right: 20px;
    font-weight: bold;
}

.first-section {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)), url('../images/banner2.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    text-align: center;
}

.first-section h1 {
    padding-top: 325px;
    font-size: 30px;
}

@media only screen and (max-width: 748px) {
    .first-section h1 {
        padding-top: 375px !important;
    }
    .first-section button {
        margin-bottom: 185px !important;
    }
}

@media only screen and (max-width: 587px) {
    .first-section h1 {
        padding-top: 440px !important;
    }
    .first-section button {
        margin-bottom: 230px !important;
    }
}

.first-section-text {
    transform: rotate(-4deg);
    margin: 0 auto;
    padding-left: 3%;
    width: 60%;
}

.first-section p {
    padding-bottom: 20px;
    width: 60%;
    margin: 0 auto;
    font-size: 17px;
    color: black;
}

.first-section button {
    /*margin-bottom: 140px;*/
    /*margin-top: 20px;*/
    margin-bottom: 172px;
    margin-top: 0px;
    padding: 5px 10px;
    background: transparent;
    color: black;
    font-size: 22px;
    border: 2px solid;
    border-color: #d26563;
    border-radius: 10px;
}

.third-section {
    text-align: center;
}

.third-section ul {
    padding-inline-start: 0px;
}

.third-section h2 {
    padding-top: 50px;
}

.third-section img {
    width: 80px;
    height: 80px;
    padding-bottom: 5px;
}

.third-section li {
    list-style: none;
    display: inline-block;
    width: 20%;
}

.third-section li:not(:last-child) {
    margin-right: 40px;
}



/*view one product*/

.product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 7px;
}

.product-description span {
    font-size: 12px;
    color: #358ED7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}
.product-description h1 {
    font-weight: 300;
    font-size: 52px;
    color: #43484D;
    letter-spacing: -2px;
}
.product-description p {
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
}

.product-price {
    display: flex;
    align-items: center;
}

.product-price a {
    display: flex;
    align-items: center;
    margin: 2px;
}

.product-price span {
    font-size: 26px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
}

.post-container {
    margin: 20px;
    overflow: auto
}

.post-thumb img {
    float: left;
    padding-right: 10px;
    display: block;
    width: 500px;
    height: 300px;
}

.post-content {
    padding-left: 555px;
}

.my-style {
    text-align: center;
}

.form-textarea {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.profile_style {
    text-align: center;
    display: inline-block;
    margin-right: 5px;
    float: left;
    position: relative;
}

.profile_orders_style {
    text-align: left;
    display: inline-block;
    width: 80%;
}

.hr_product {
    display: inline-block;
    background: gray !important;
    height: 1px !important;
    margin: 10px auto;
    width: 100%;
}