hr {
    width: 50px;
    margin: 20px auto;
    height: 3px;
    border: none;
    background: #d26563;
}

nav ul li {
    display: inline-block;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #D67472;
    margin-right: 20px;
    font-weight: bold;
}

.first-section {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)), url('../images/banner2.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    text-align: center;
}

.first-section h1 {
    padding-top: 325px;
    font-size: 30px;
}

@media only screen and (max-width: 748px) {
    .first-section h1 {
        padding-top: 375px !important;
    }
    .first-section button {
        margin-bottom: 185px !important;
    }
}

@media only screen and (max-width: 587px) {
    .first-section h1 {
        padding-top: 440px !important;
    }
    .first-section button {
        margin-bottom: 230px !important;
    }
}

.first-section-text {
    transform: rotate(-4deg);
    margin: 0 auto;
    padding-left: 3%;
    width: 60%;
}

.first-section p {
    padding-bottom: 20px;
    width: 60%;
    margin: 0 auto;
    font-size: 17px;
    color: black;
}

.first-section button {
    /*margin-bottom: 140px;*/
    /*margin-top: 20px;*/
    margin-bottom: 172px;
    margin-top: 0px;
    padding: 5px 10px;
    background: transparent;
    color: black;
    font-size: 22px;
    border: 2px solid;
    border-color: #d26563;
    border-radius: 10px;
}

.third-section {
    text-align: center;
}

.third-section ul {
    padding-inline-start: 0px;
}

.third-section h2 {
    padding-top: 50px;
}

.third-section img {
    width: 80px;
    height: 80px;
    padding-bottom: 5px;
}

.third-section li {
    list-style: none;
    display: inline-block;
    width: 20%;
}

.third-section li:not(:last-child) {
    margin-right: 40px;
}